.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, rgba(250,112,154,0.8), rgba(254,225,64,0.8))
}
.home {
    margin-top: 30vh;
}
.primary-title {
    font-size: 90px;
    color: rgb(255, 255, 255);
}
.primary-button {
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}
.primary-button:hover {
    background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
}

