.profile {
    display: flex;
    justify-content: space-between;
}

.profile .swipe_container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.profile .card_container {
    width: 400px;
    height: 650px;
}

.card {
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    margin-top: 0;
}

.profile .swipe_info {
    position: absolute;
    bottom: 0;
    padding: 10px;
}