.registration {
    border-top: solid 1px rgb(213, 213, 213);
}

.registration form {
    display: flex;
    justify-content: center;
}

.registration form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.registration form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.registration form label {
    margin: 10px 0;
}

.registration form .form__container {
    display: flex;
    flex-direction: row;
}

.registration form input::-webkit-outer-spin-button,
.registration form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.registration form .form__container input {
    margin-right: 10px;
}

.registration form .form__container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.registration form input[type=radio] {
    display: none;
}

.registration form input[type=number] {
    width: 10%;
}

.registration form input[type=radio]:checked + label {
    border: solid 2px rgb(221, 39, 22);
}

.registration form input[type=submit]:hover {
    background-color: rgb(235, 235, 235);
}

.registration form input[type=submit]:active {
    background-color: rgb(226, 115, 115);
}

.registration form .photo__container img {
    width: 100%
}