@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}
* {
  font-family: 'Readex Pro', sans-serif;
}
